.control-panel {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  background: linear-gradient(transparent, rgba(0, 0, 0, 0.9));
  bottom: 0;
  padding: 1rem;
  position: fixed;
  width: 100vw;
  z-index: 9000;
}

.legend-list {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 0 0 0;
}

.legend-list li {
  display: inline-block;
  margin: 0;
  padding-right: 0.8rem;
}

.legend-list label {
  cursor: pointer;
}

.legend-list img {
  height: 30px;
}

.legend-list input[type='checkbox'] {
  display: none;
}

.legend-list label:hover:after{
    bottom: 1rem;
    font-size: 2rem;
    right: 1rem;
    color: #FFF;
    content: attr(title);
    position: fixed;
    text-shadow: 0 1px 3px #000;
    z-index: 9001;
}

.legend-list :checked+label img {
  -webkit-filter: drop-shadow(0 0 3px #4390ba);
  filter: drop-shadow(0 0 3px #4390ba);
  transform: scale(1.15, 1.15);
}

.legend-list :not(:checked)+label img {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: ease-in-out 400ms transform;
}
