.blue-glow {
  -webkit-filter: drop-shadow(0 0 3px #4390BA) drop-shadow(0 0 3px #4390BA);
  filter: drop-shadow(0 0 3px #4390BA) drop-shadow(0 0 3px #4390BA);
}

.pulsing-icon {
  animation: pulsate 3s infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulsate {
  0%, 100% {
    filter: drop-shadow(0 0 3px #4390BA) drop-shadow(0 0 3px #4390BA) brightness(0.9);
  }
  50% {
    filter: drop-shadow(0 0 3px #4390BA) drop-shadow(0 0 3px #4390BA) brightness(1.4);
  }
}